// table {
//     border-collapse: collapse;
// }
// table, th, td {
//     border: 1px solid black;
// }
// .error {
//     color: red;
// }
// .success {
//     color: green;
// } 
.setDefault{
    background-color: aqua;
    padding:5px;

}
#reset{
    color:red;
}
